/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{background:  #eeeeee}
.titles{border-bottom: 1px solid #409780}
.titles h3{width: 15%; margin: auto; border-bottom: 3px solid #409780;}
nav .container{width:100% !important;}
a:hover {text-decoration:none;color: #fff}
a{color: #19a372}

/*menu*/

/* Dropdown Button */
.menu .fa{ padding: 3.5px;font-size: 17px}
.menu .dropbtn:hover{ color: #409780;transition: all 0.3s ease;}
.menu .dropbtn { background: transparent !important;color: white;padding: 16px;font-size: 16px;border: none;}
.menu .mr-auto, .mx-auto {margin-right: auto !important; margin-top: 8px;}
.menu .social{padding: 1% 0% 0% 20.75%;}
.menu .social ul{padding: 0%;margin-top: 4%}
.menu .social li{display: inline;margin: -2%;}
.menu .social li a{text-decoration: none;color: #fff !important}
.menu .social li a .flaticon{font-size: 15px}
.menu .social li a:hover{color: #35CBDF !important }
.menu .social img{width: 5.75%; border-radius: 15px; margin-top: -0.95%;}
.menu .social img:hover{border-radius: 0px}
.menu .social .flag-right{margin: 4%}
@media (max-width:768px) {
    .navbar-dark .navbar-brand img{width: 200% !important;}
    .dropdown:hover .dropdown-content{width: 100%}
}
/*menu*/
/*menu-2*/

.menu-2 .social ul{padding: 0%;margin-top: 4%}
.menu-2 .social li{display: inline;}
.menu-2 .social li a{text-decoration: none}
.menu-2 .social li a .flaticon{font-size: 13px}
.menu-2 .fixed-top {background: none ; color: #000 !important;}
.menu-2 .fixed-top li a{color: #fff !important}
.menu-2 .ml-auto, .menu-2 .mx-auto { margin-right: auto !important;}
.menu-2 .ml-auto, .mx-auto { margin-left:0px !important;}
.menu-2 .navbar .nav-item:hover{border-bottom: 3px solid #fff}
.menu-2 .bg-primary{background-color: #35CBDF!important;}
.menu-2 .text-inverse{color: #074052;}
.menu-2 .text-primary{color: #35CBDF!important;}
.menu-2 .btn{font-family: 'Montserrat', sans-serif;font-size: 1rem;font-weight: 600;}
.menu-2 .btn-primary{
    background-color: #35CBDF;
    border-color: #35CBDF;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.menu-2 .navbar-brand{width: 20%}
.menu-2 .navbar-brand img{width: 100%}
.menu-2 .btn-primary:hover,.btn-primary:focus{
    background-color: #00BED7;
    border-color: #00BED7;
}
.menu-2 .btn-capsul{
    border-radius: 50px;
}
.menu-2 i.box-circle-outline{
    border-color: inherit;
    border-width: 1px;
    border-style:solid;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.menu-2 i.box-circle-solid{
    background-color:#35CBDF;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}
.menu-2 .text-underline-white:before{
    content:"";
    position: absolute;
    width:100px;
    height: 4px;
    left:50%;
    margin-left:-50px;
    background:#fff;
    bottom: -15px;
    border-radius: 10px;
}
.menu-2 .text-underline-rb-white:before{
    content:"";
    position: absolute;
    width:100px;
    height: 4px;
    left:0;
    background:#fff;
    bottom: -15px;
    border-radius: 10px;
}
.menu-2 .text-underline-primary:before{
    content:"";
    position: absolute;
    width:50px;
    height: 4px;
    left:50%;
    margin-left:-25px;
    background:#35CBDF;
    bottom: -15px;
    border-radius: 10px;
}
.menu-2 .text-underline-rb-primary:before{
    content:"";
    position: absolute;
    width:100px;
    height: 4px;
    left:0;
    background:#35CBDF;
    bottom: -15px;
    border-radius: 10px;
}
.menu-2 .bg-overlay:before{
    content:"";
    background:rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    z-index: -1;
}
.menu-2 .bg-overlay-light:before{
    content:"";
    background:rgba(0,0,0,0.4);
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    z-index: -1;
}
.menu-2 parallax{
    background-attachment: fixed!important;
}
/*menu-2*/
/* The container <div> - needed to position the dropdown content */
.fixed-top { color: #000 !important;background: border-box !important;}
.fixed-top li a{color: #01533d !important}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navbar-dark .navbar-brand{width: 19%}
.navbar-dark .navbar-brand img{width: 100%}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* .top-nav.light-header{
	height: 60px;
	background: #000;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
} */
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; transition: all 0.3s ease;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;transition: all 0.3s ease;}



/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
}
.dropdown-menu .nav-item a{color: #ddd !}
.navbar .dropdown-menu {
    border:none;
    background-color:#409780 !important;
}

/* breakpoint and up - mega dropdown styles */
.navbar .dropdown-menu{top:54px}
@media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding:0% 0% 0% 6.5% !important;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:54px;
    }
    .search {
        position: absolute;
        top: 50%;
        left: 70%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .search * {
        outline: none;
        box-sizing: border-box;
    }
    .search__wrapper {
        position: relative;
    }
    .search__field {
        width: 50px;
        height: 50px;
        color: transparent;
        font-family: Lato, sans-serif;
        font-size: 1.35em;
        padding: 0.35em 50px 0.35em 0;
        border: 1px solid transparent;
        border-radius: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0.0) !important;
    }
    .search__field:focus {
        border-bottom-color: #ccc;
        width: 50vw;
        color: #2b2b2b;
        cursor: default;
    }
    .search__field:focus ~ .search__icon {
        background-color: transparent;
        cursor: pointer;
        pointer-events: auto;
    }
    .search__icon {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.0);
        width: 50px;
        height: 50px;
        font-size: 1.35em;
        text-align: center;
        border-color: transparent;
        border-radius: 50%;
        pointer-events: none;
        display: inline-block;
        transition: background-color 0.2s ease-in-out;
    }
    .search__field::-webkit-input-placeholder {
        position: relative;
        top: 0;
        left: 0;
        transition-property: top, color;
        transition-duration: .1s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .search__field:-moz-placeholder {
        position: relative;
        top: 0;
        left: 0;
        transition-property: top, color;
        transition-duration: .1s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .search__field::-moz-placeholder {
        position: relative;
        top: 0;
        left: 0;
        transition-property: top, color;
        transition-duration: .1s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .search__field:-ms-input-placeholder {
        position: relative;
        top: 0;
        left: 0;
        transition-property: top, color;
        transition-duration: .1s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .search__field::-webkit-input-placeholder[style*=hidden] {
        color: #83b0c1;
        font-size: .65em;
        font-weight: normal;
        top: -20px;
        opacity: 1;
        visibility: visible !important;
    }
    .search__field:-moz-placeholder[style*=hidden] {
        color: #83b0c1;
        font-size: .65em;
        font-weight: normal;
        top: -20px;
        opacity: 1;
        visibility: visible !important;
    }
    .search__field::-moz-placeholder[style*=hidden] {
        color: #83b0c1;
        font-size: .65em;
        font-weight: normal;
        top: -20px;
        opacity: 1;
        visibility: visible !important;
    }
    .search__field:-ms-input-placeholder[style*=hidden] {
        color: #83b0c1;
        font-size: .65em;
        font-weight: normal;
        top: -20px;
        opacity: 1;
        visibility: visible !important;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block!important;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }

}

/* ========== Intro Header ========== */
.intro{
    float: left;
    width:100%;
    display: flex;
    align-items:center;
    height:100%;
    position: relative;
    z-index: 1;
}
.intro.intro-small{
    height: 60%;
}
.intro-bg{
    background:url("../img/intro-bg-03.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
}
.caption-container{
    width:50rem;
    margin:0 auto;
}
.caption-two-panel{
    display: flex;
    align-items:center;
}
.intro h1{
    font-weight: 700;
}
.intro-caption .btn i{
    float: left;
    margin-right:15px;
}
.intro .carousel-item{
    height: 100vh;
}
.intro .carousel-item::before{
    content:"";
    background:rgba(0,0,0,0.6);
    position: absolute;
    width:100%;
    height: 100vh;
}
.intro  .carousel-caption{
    top:25%;
}
.carousel .btn-primary:hover, .btn-primary:focus {
    background-color: #e6de08;
    color: #f66b6b;
    border-color: #f66b6b;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.carousel .btn-primary {
    color: #fff;
    background-color: #f66b6b;
    border-color: #f66b6b;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;}
/* ========== Who We Are ========== */
@media (max-width:767px){
    .brands .col-md-6{width: 50%}
}

.info-section{
    float: left;
    width:100%;
    padding:0rem 0;
    position: relative;
    z-index: 1;
    background: #e1e2e3;
}
.info-section h6{color: #409780 !important;}
.info-section h2{
    font-weight: 700;
    font-size: 2.5rem;
    color: #409780 !important;
}

.info-section .head-sec{
    float: left;
    width:100%;
}

.info-section h3{
    font-size: 1.4rem;
}
.info-section p {
    font-size: 1rem;
    line-height: 1.3rem;
    color:#787879
}
.info-section .box h2{
    font-size:24px;
    margin-bottom:20px;
    margin-top:0;
}

.info-section .box i{
    font-size:20px;
}
.info-section .box{
    display:flex;
}
.info-section .text-box{
    flex:1 1 0;
    text-align:left;
}
.info-section .icon-box{
    line-height: 1.2;
    width:70px;
}
.info-section .service-block-overlay{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    background: #fff;
    border-radius: 5px;
    height: 100px;
}
.info-section .service-block-overlay img{width: 100%}
.info-section .service-block-overlay:hover{
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: -10px;
    position: relative;
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.about-us .content-half{
    color: #409780;
    background: #e1e2e3;
}
.about-us .p-0 {
    padding: 0 !important;
    background: #e1e2e3;
}
.about-us .img-fluid {
    max-width:82%;
    height: auto;
}
.about-us .mb-5, .my-5 {
    margin-bottom: 0% !important;
}
.content-half ul{
    padding:0;
    list-style:none;
}
.content-half ul li{
    margin:15px 0;
    float:left;
    width:100%;
}
.content-half ul li i{
    float:left;
    font-size:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.content-half ul li .list-content{
    float:left;
    margin-left:20px;
}
.content-half ul li strong{
    font-size:19px;
    font-weight:700;
}
.content-half .btn{
    margin-top:20px;
}
/*--- three Block Panel ---*/
.three-panel-block{
    float: left;
    width: 100%;
}
.three-panel-block i{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.three-panel-block i.box-round{
    border-color: inherit;
    border-width: 1px;
    border-style:solid;
    padding:16px;
    border-radius: 50%;
}

/*--- Two Block Panel ---*/
.two-panel-block{
    float: left;
    width: 100%;
}
.two-panel-block p{
    font-size:16px;
}


/*--- Two Block Panel ---*/
.four-panel-block{
    float: left;
    width:100%;
}

/* ========== Who We Are ========== */
.widget{
    float: left;
    width:100%;
    position: relative;
    z-index: 1;
}

/* ========== Copy Content Styles ========== */
.copy-content-sec{
    float: left;
    width:100%;
    padding:5rem 0;
    position: relative;
    z-index: 1;
}
.copy-container{
    display: flex;
    align-items: center;
}
.copy-content{
    float: left;
    width:100%;
}
.copy-content li i{
    float: left;
    width:30px;
    margin-top:5px;
    color: #5CB85C;
}



/* ========== Testimonial Section ========== */
.testimonial-section{
    float: left;
    width:100%;
    position: relative;
    z-index: 1;
}
.testimonial-section .block-style-03 img{
    width:100px;
}

/* ========== Footer Section ========== */
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#042118; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;text-decoration: none}
.foote_bottom_ul_amrc li a:hover{color: #fff}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;padding:0px !important;  }
.social_footer_ul li {  padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC;  padding:8px;border-radius:50%; text-decoration: none}
.social_footer_ul li a:hover{color: #fff !important}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}




/* ========== Copy Content Styles ========== */
.copy-content-sec{
    float: left;
    width:100%;
    padding:5rem 0;
    position: relative;
    z-index: 1;
}
.copy-container{
    display: flex;
    align-items: center;
}
.copy-content{
    float: left;
    width:100%;
}
.copy-content li i{
    float: left;
    width:30px;
    margin-top:5px;
    color: #5CB85C;
}
.faq-box .card{
    border-color: #35CBDF;
    margin-top: 10px;
}
.faq-box .card-header{
    background-color: #35CBDF;
    color: #fff;
}


/* ========== Price Table Styles ========== */
.price-section{
    float: left;
    width:100%;
    padding:5rem 0;
    position: relative;
    z-index: 1;
}
.price-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.price-section .price-block{

}
.price-section .currency{
    font-size: 25px;
    vertical-align: super;
}
.price-section .price-count{
    font-size: 60px;
    line-height: 60px;
}
.price-section .price-block small{
    display: block;
    font-size: 15px;
}

/* ========== Contact Section ========== */
.contact-section{
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}
.contact-section #map {
    display: block;
    width: 100%;
    height: 100%;
}

.contact-section #map {
    background: #fff;
    width:100%;
    height: 100%;
}
.contact-section .form-control{
    border-radius: 0;
}
.contact-section #map{
    height: 350px;
}

/* ========== Copy Footer Styles ========== */
.copy-footer{
    float: left;
    width:100%;
    font-size: 14px;
    background: #111;
}
.copy-footer a{
    color: #fff;
}
.copy-footer a:hover{
    text-decoration: underline;
}


/* ========== Responsive Stylings ========== */
@media (max-width: 991px){
    .container{
        width: 100%;
    }
    .intro .intro-box{
        padding-left: 0;
        margin-bottom: 0;
    }
    .intro .intro-box span{
        margin-right: 10px;
    }
    .intro .intro-box .list-item{
        width: 85%;
    }
    .content-half ul li i{
        font-size: 20px;
    }
    .content-half ul li .list-content{
        width:77%;
    }
    .content-half ul li strong{
        line-height: 0;
    }
    .testimonial-section .single-testimonial .carousel-item{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .widget h2 {
        font-size: 1.5rem;
    }
    .widget .counter{
        line-height: 0;
        font-size: 1.7rem;
    }
    .widget .fa-3x{
        font-size: 2rem;
    }
    .widget .stat-content h4{
        font-size: 1.2rem;
    }
}

@media (max-width: 767px){
    .container{
        width:100%;
    }
    .intro .intro-form-small input[type="text"], .intro .intro-form-small input[type="password"]{
        width: 36%;
    }
    .intro .carousel-caption{
        top:10%;
    }
    .widget.widget-counter .container{
        width: 100%;
    }
    .contact-section #map {
        height: 400px
    }
    .intro .display-4{
        font-size:2rem;
    }
    .intro p{
        display: none;
    }
    .intro img{
        height: 100%;
    }
    .intro .btn-primary{
        margin-top: 20px;
    }
    .top-nav .navbar-toggler i {
        color: #fff;
        margin-top: 6px;
    }
    .top-nav.light-header .navbar-toggler i {
        color: #00BED7;
    }
    .top-nav  .navbar-collapse.show {
        background-color: #00bed7;
        text-align: center;
        padding: 12px 0;
    }
    .top-nav .navbar-collapse.show a{
        color: #000;
    }
}
.btn-theme{background-color:#35CBDF; color:#fff;}
/*project*/





/*product*/
/**/
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #e6de08;
    color: #007b5e;
    border-color: #007b5e;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
    border-radius: 15px
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*footer*/


@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.footer .social {
    margin: 0;
    padding: 0;}
.footer .social ul {
    margin: 0;
    padding: 5px;}
.footer .social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;}
.footer .social i {
    width: 40px;
    height: 40px;
    color: #409780;
    background-color: #FAFAFA;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;}
.footer .social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;}
.footer .social .fa-twitter:hover {
    background: #00ABE3;}
.footer .social .fa-instagram:hover {
    background: #375989;}
.footer .social .fa-youtube:hover {
    background: #FF1F25;}
.footer h1 {
    font-family: 'Raleway';
    letter-spacing: 2px;
    font-size: 70px;
    color: #fff;
    margin: 25px 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;}
.footer .dark {
    background: #f66b6b;
    color: #fff;
    text-align: center}
.footer .dark h1, .dark h2,
.footer .dark h3, .dark h4,
.footer .dark h5, .dark h6,
.footer .dark p, .dark a {color: #fff;text-decoration: none}
/* Divider */
.divider {
    height: 30px;
    padding: 25px 0 35px;}
.footer .hr {
    content: "";
    height: 1px;
    width: 16%;
    background: #d9d9d9;
    left: 42%;
    position: absolute;
    display: block;}
.footer .hr-dot {
    width: 10px;
    height: 10px;
    border: 2px solid #d9d9d9;
    background: #fff;
    border-radius: 100%;
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
    display: block;
    position: absolute;}
.footer .hr-dark {
    background: #626262;}
.footer .divider-left .hr {
    left: 15px;}
.footer .divider-left .hr-dot {
    left: 5px;}
.footer .white {
    color: #fff;}
.footer .bold {
    font-weight: 700;}
.footer .hr-dark .hr-dot {
    border: 2px solid #626262;
    background: #333333;}
.footer section {
    padding-bottom: 80px;}
.footer .col-centered {
    display: inline-block;
    text-align: center;}
.footer .col-centered .col-md-1,
.footer .col-centered .col-md-2,
.footer .col-centered .col-md-3,
.footer .col-centered .col-md-4,
.footer .col-centered .col-md-5,
.footer .col-centered .col-md-6,
.footer .col-centered .col-md-7,
.footer .col-centered .col-md-8,
.footer .col-centered .col-md-9,
.footer .col-centered .col-md-10,
.footer .col-centered .col-md-11,
.footer .col-centered .col-md-12 {margin: 0 auto;float: none;}
.footer .overlay:after {
    content: "";
    background: rgba(0,0,0,.2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;}
.footer .top {
    text-shadow: 0 0 25px rgba(0,0,0,.2);}
.footer .top .content-a {
    z-index: 100;}
.footer .background {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* ie8 degradation */
    background-position: 50% 50%\9 !important;}
.footer .fullscreen,
.footer .content-a {
    width: 100%;
    min-height: 100%;}
.footer .not-fullscreen,
.footer .not-fullscreen .content-a,
.footer .fullscreen.not-overflow,
.footer .fullscreen.not-overflow .content-a {
    height: 100%;}
.footer .content-a {
    display: table;}
.footer .content-b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;}
.footer .dark-line {
    background: rgb(64, 151, 128);
    padding: 50px 0;
    margin-left: -2px;}
.footer .content-b p {
    font-size: 16px;
    color: #fff;}
.footer .not-fullscreen {
    height:50%;}
.footer .nav-content {
    min-height: 64px;}
.footer .navbar {
    background: #333333;
    border: none;
    min-height: 64px;}
.footer nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;}
@media (min-width: 768px) {
    .footer #navbar {
        float:left;
        width:100%;
        overflow:hidden;
        position:relative;}
    .footer #navbar ul {
        clear:left;
        float:left;
        position:relative;
        left:50%;
        text-align:center;}
    .footer #navbar ul li {
        display:block;
        float:left;
        position:relative;
        right:50%;}
}
@media (max-width:768px){
    .footer h1{font-size: 30px}
}
.footer .nav {
    position: relative;}
.footer .nav li a {
    color: #fff;
    font-weight: 700;
    padding: 22px 35px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;}
.footer .nav li a:hover li, .nav li a:hover,
.footer .nav li.active, .nav li.active a {
    background: #fff;
    color: #1e1e1e;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;}
.footer .navbar-toggle {
    border: 1px solid#fff;
    margin-top: 15px;}
.footer .navbar-toggle .icon-bar {
    background: #fff;}
.footer footer {
    /* border-top: 1px solid #626262; */
    height: 60px;}
.footer .copyright {
    color: #878787;
    line-height: 59px;}
.footer footer ul {
    float: right;
    margin-bottom: 0;}
.footer footer ul li {
    display: inline-block;}
.footer footer ul li a{
    line-height: 59px;
    padding: 16px 10px;}
.footer .content-b .row{margin: 1% 42%;}
/*footer*/
/**/
.parallax {
    /* The image used */
    background-image: url("../images/par2.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax .col-md-4{
    display: inline-block;
    margin-left:-10px;
}
.parallax .col-md-4 img{
    width:100%;
    height:auto;
}
.parallax span.carousel-control-prev-icon {
    position: relative;
    bottom: 40px;
    right: 40px;
    width: 35%
}
span.carousel-control-prev-icon {
    position: relative;
    bottom: 40px;
    width: 35%;
    height: 50px;
}
span.carousel-control-next-icon {
    position: relative;
    bottom: 40px;
    width: 35%;
    height: 50px;
}
.project .carousel {
    position: relative;
    padding: 0.5% 0%;
}

.project .carousel-inner .card-img-overlay .float-left {background: #007b5e;
    color: #fff;
    margin-left: -4px;
    padding: 1%;
    font-size: 10px;
    border-top-right-radius: 10px}
.project .carousel-inner .card-img-overlay .float-right {background: #f66b6b;
    color: #fff;
    margin-right: -3px;
    padding: 1%;
    font-size: 10px;
    border-top-left-radius: 10px}
.project .carousel-inner .carousel-item p{background: #fff !important; padding: 5%}
.project .carousel-control-prev {left: -5%;}
.project .carousel-control-next {right: -63px;}
.carousel-indicators li{background-color: rgb(64, 151, 128)}
.carousel-indicators .active { background-color: #f66b6b;}
.carousel-control-prev-icon {
    background-image: url("../images/back-slider.png");}
.carousel-control-next-icon {
    background-image: url("../images/next-slider.png");}
/**/

.project h3{color:#fff !important;}
.footer .dark-line{
    background-image: url('../images/foot.png') !important;
    background-color: #01533d !important;
}
.logo-footer {width:20%;margin-right:0%}

.project h3{color:#fff !important;}
.footer .dark-line{
    background-image: url('../images/foot.png') !important;
    background-color: #01533d !important;
}
.logo-footer {width:20%;margin-right:0%}






/*//search*/
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}



/*CATEGORIES BADGE*/
.badge {
    font-weight: 600;
    font-size: 13px;
    color: white;
    background-color: #289dcc;
}
/*FEATURED*/
.mg-2, .mg-4{
    margin-left:-20px;
}
.linkfeat{
    background: rgba(76,76,76,0);
    background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(49%, rgba(48,48,48,0)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}




/*news2*/
.post-slide{
    overflow: hidden;
    margin-right: 2px;
    background-color:#fff !important;
}
.post-slide .post-img {
    float: left;
    width:50%;
    position: relative;
    margin-right: 30px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
}
.post-slide .post-date{
    background: #ec3c6a;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2% 3%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition:all 0.50s ease;
}
.post-slide .date{
    display: block;
    font-size:20px;
    font-weight: 700;
}
.post-slide .month{
    display: block;
    font-size:11px;
    text-transform: uppercase;
}
.post-slide .post-review {
    padding: 5% 3% 1% 0;
    border-top: 3px solid #409780;
}
.post-slide:hover .post-review{
    border-top-color:#ec3c6a;
}
.post-slide .post-title{
    margin:0 0 10px 0;
}
.post-slide .post-title a{
    font-size:14px;
    color:#333;
    text-transform:uppercase;
}
.post-slide .post-title a:hover{
    text-decoration:none;
    font-weight: bold;
}
.post-slide .post-bar{
    padding:0;
    list-style:none;
    text-transform:uppercase;
    position: relative;
    margin-bottom: 20px;
}
.post-slide .post-bar:after,
.post-slide .post-bar:before{
    border: 1px solid #409780;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
    right: 36%;
    width: 25px;
}
.post-slide .post-bar:before{
    border: 1px solid #ec3c6a;
    right: 32%;
}
.post-slide .post-bar li{
    color:#555;
    font-size:10px;
    margin-right:10px;
    display:inline-block;
}
.post-slide .post-bar li a{
    font-size: 13px;
    text-decoration:none;
    text-transform:uppercase;
    color:#ec3c6a;
}
.post-slide .post-bar li a:hover{
    color:#ec3c6a;
}
.post-slide .post-bar li i{
    color:#777;
    margin-right:5px;
}
.post-slide .post-description{
    font-size:12px;
    line-height:21px;
    color:#444454;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #409780;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #409780;
}
@media only screen and (max-width: 990px) {
    .post-slide .post-img {
        width:100%;
    }
    .post-slide .post-review{
        width:100%;
        border-bottom: 4px solid #ec3c6a;
    }
    .post-slide .post-bar:before{
        left: 0;
    }
    .post-slide .post-bar:after{
        left: 25px;
    }
}

/******************  News Slider Demo-2 *******************/
.demo{
    background: linear-gradient(to right,#ffcccc,#d3d3d3);
}
.post-slide2{
    margin: 0 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide2 .post-img{
    overflow: hidden;
}
.post-slide2 .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
}
.post-slide2:hover .post-img img{
    transform: scale(1.08);
}
.post-slide2 .post-content{
    background: #fff;
    padding: 20px;
}
.post-slide2 .post-title{
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}
.post-slide2 .post-title a{
    display: inline-block;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide2 .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide2 .post-description{
    font-size: 15px;
    color: #676767;
    line-height: 24px;
    margin-bottom: 14px;
}
.post-slide2 .post-bar{
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.post-slide2 .post-bar li{
    color: #676767;
    padding: 2px 0;
}
.post-slide2 .post-bar li i{
    margin-right: 5px;
}
.post-slide2 .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide2 .post-bar li a:after{
    content: ",";
}
.post-slide2 .post-bar li a:last-child:after{
    content: "";
}
.post-slide2 .post-bar li a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide2 .read-more{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #e7989a;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear;
}
.post-slide2 .read-more:hover{
    background: #333;
    text-decoration: none;
}

/******************  News Slider Demo-3 *******************/
.post-slide3{
    margin: 0 15px;
    padding: 0 25px 20px 25px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide3 .post-img{
    position: relative;
    margin-bottom: 20px;
}
.post-slide3 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide3 .post-icon{
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: center;
    background: #333;
    opacity: 0;
    border-radius: 3px;
    transition: all 300ms ease-in-out 0s;
}
.post-slide3:hover .post-icon{
    opacity: 1;
}
.post-slide3 .post-icon i{
    font-size: 20px;
    color: #fff;
    line-height: 60px;
}
.post-slide3 .post-bar{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.post-slide3 .post-bar li{
    display: inline-block;
    font-size: 15px;
    color: #676767;
    margin-right: 5px;
}
.post-slide3 .post-bar li:after{
    content: "/";
    margin-left: 5px;
}
.post-slide3 .post-bar li:last-child:after{
    content: "";
}
.post-slide3 .post-bar li a{
    color: #8e44ad;
    transition: all 0.3s ease 0s;
}
.post-slide3 .post-bar li a:hover{
    color: #333;
    text-decoration: none;
}
.post-slide3 .post-bar li a:after{
    content: ",";
    margin: 0 5px;
}
.post-slide3 .post-bar li a:last-child:after{
    content: "";
}
.post-slide3 .post-title{
    margin: 15px 0;
    text-transform: capitalize;
}
.post-slide3 .post-title a{
    font-size: 22px;
    font-weight: 600;
    color: #3c3c3c;
    transition: all 300ms linear 0ms;
}
.post-slide3 .post-title a:hover{
    color: #8e44ad;
    text-decoration: none;
}
.post-slide3 .post-description{
    font-size: 16px;
    color: #676767;
    line-height: 24px;
    padding-bottom: 15px;
}
.post-slide3 .read-more{
    display: inline-block;
}
.post-slide3 .read-more:hover{
    text-decoration: none;
}
.post-slide3 .read-more i{
    font-size: 19px;
    color: #333;
    margin-right: 5px;
    transition: all 0.40s linear 0s;
}
.post-slide3 .read-more span{
    font-size: 16px;
    color: #333;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.40s linear 0s;
}
.post-slide3 .read-more:after{
    content: "";
    display: block;
    width: 40%;
    position: relative;
    bottom: -20px;
    border-bottom: 3px solid #333;
    opacity: 0;
    transition: all 0.40s linear 0s;
}
.post-slide3:hover .read-more span,
.post-slide3:hover .read-more:after{
    opacity: 1;
}
.post-slide3 .read-more:hover span,
.post-slide3 .read-more:hover i,
.post-slide3 .read-more:hover:after{
    color: #8e44ad;
    border-bottom-color: #8e44ad;
}

/******************  News Slider Demo-4 *******************/
.post-slide4{
    margin: 0 10px;
    background:#fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide4 .post-info{
    padding: 5px 10px;
    margin: 0;
    list-style: none;
}
.post-slide4 .post-info li{
    display: inline-block;
    margin: 0 5px;
}
.post-slide4 .post-info li i{
    margin-right: 8px;
}
.post-slide4 .post-info li a{
    font-size: 11px;
    font-weight: bold;
    color: #7e828a;
    text-transform: uppercase;
}
.post-slide4 .post-info li a:hover{
    color: #1dcfd1;
    text-decoration: none;
}
.post-slide4 .post-img{
    position: relative;
}
.post-slide4 .post-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0,0,0.6);
    transition: opacity 0.40s linear 0s;
}
.post-slide4:hover .post-img:before{
    opacity: 1;
}
.post-slide4 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide4 .read{
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    opacity: 0;
    transition: all 0.40s linear 0s;
}
.post-slide4:hover .read{
    opacity:1;
}
.post-slide4 .read:hover{
    text-decoration: none;
    color: #1dcfd1;
}
.post-slide4 .post-content{
    padding: 40px 15px;
    position: relative;
}
.post-slide4 .post-author{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    right: 10px;
    overflow: hidden;
    border:4px solid #fff;
}
.post-slide4 .post-author img{
    width: 100%;
    height: auto;
}
.post-slide4 .post-title{
    font-size: 14px;
    font-weight: bold;
    color: #1dcfd1;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    transition: all 0.30s linear 0s;
}
.post-slide4 .post-title:after{
    content: "";
    width: 25px;
    display: block;
    margin-top: 10px;
    border-bottom: 4px solid #333;
}
.post-slide4 .post-description{
    font-size: 13px;
    color: #555;
    margin-bottom:20px;
}

/******************  News Slider Demo-5 *******************/
.post-slide5{
    margin: 0 15px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide5 .post-img{
    position: relative;
    overflow: hidden;
}
.post-slide5 .post-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s linear 0s;
}
.post-slide5:hover .post-img:before{
    background: rgba(0, 0, 0, 0.6);
}
.post-slide5 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide5 .category {
    width: 20%;
    font-size: 16px;
    color: #fff;
    line-height: 11px;
    text-align: center;
    text-transform: capitalize;
    padding: 11px 0;
    background: #ff9412;
    position: absolute;
    bottom: 0;
    left: -50%;
    transition: all 0.5s ease-in-out 0s;
}
.post-slide5:hover .category{
    left: 0;
}
.post-slide5 .post-review{
    padding: 25px 20px;
    background: #fff;
    position: relative;
}
.post-slide5 .post-title{
    margin: 0;
}
.post-slide5 .post-title a{
    display: inline-block;
    font-size: 16px;
    color: #ff9412;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: all 0.30s linear 0s;
}
.post-slide5 .post-title a:hover{
    text-decoration: none;
    color: #555;
}
.post-slide5 .post-description{
    font-size: 15px;
    color: #555;
    line-height: 26px;
}
.post-review .post-bar{
    margin-top: 20px;
}
.post-bar span{
    display: inline-block;
    font-size: 14px;
}
.post-bar span i{
    margin-right: 5px;
    color: #999;
}
.post-bar span a{
    color: #999;
    text-transform: uppercase;
}
.post-bar span a:hover{
    text-decoration: none;
    color: #ff9412;
}
.post-bar span.comments{
    float: right;
}
@media only screen and (max-width: 359px) {
    .post-slide5 .category{ font-size: 13px; }
}

/******************  News Slider Demo-6 *******************/
.post-slide6{
    margin: 0 10px;
    border-left: 8px solid #1dcfd1;
    border-bottom: 8px solid #1dcfd1;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide6 .post-img{
    position: relative;
    overflow: hidden;
}
.post-slide6 .post-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0,0,0.0);
    transition: all 0.40s linear 0s;
}
.post-slide6:hover .post-img:before{
    background: rgba(0, 0,0,0.6);
}
.post-slide6 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide6 .post-info{
    width: 75%;
    position: absolute;
    bottom: -100%;
    left: 12.5%;
    background: #1dcfd1;
    text-align: center;
    line-height: 26px;
    padding: 15px;
    transition: bottom 0.40s ease-in-out 0s;
}
.post-slide6:hover .post-info{
    bottom:0;
}
.post-slide6 .category{
    padding: 0;
    margin: 0;
    list-style: none;
}
.post-slide6 .category li,
.post-slide6 .post-date{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.post-slide6 .category li:after{
    content: " /";
}
.post-slide6 .category li:last-child:after{
    content: "";
}
.post-slide6 .category li a{
    color: #fff;
    transition: all 0.40s linear;
}
.post-slide6 .category li a:hover{
    color: #555;
    text-decoration: none;
}
.post-slide6 .post-review{
    padding: 35px 20px 25px;
    background: #fff;
    position: relative;
}
.post-slide6 .icons{
    width: 90px;
    height: 90px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    right: 10px;
    overflow: hidden;
}
.post-slide6 .icons img{
    width: 100%;
    height: auto;
}
.post-slide6 .post-title{
    margin: 0 0 25px 0;
}
.post-slide6 .post-title a{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1dcfd1;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.30s linear 0s;
}
.post-slide6 .post-title a:hover{
    text-decoration: none;
    color: #555;
}
.post-slide6 .post-description{
    color: #555;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}
.post-slide6 .read{
    font-size: 13px;
    color: #555;
    display: block;
    text-align: right;
    text-transform: uppercase;
}
.post-slide6 .read:hover{
    text-decoration:none;
    color: #1dcfd1;
}

/******************  News Slider Demo-7 *******************/
.post-slide7{
    padding: 0 10px;
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}
.post-slide7:hover{
    transform: translateY(-10px);
}
.post-slide7 .post-img {
    position: relative;
}
.post-slide7 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide7 .post-img:after{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(to left, rgba(210, 130, 19,0.7) , rgba(170, 55, 114,0.7));
    transform:translateY(-100%);
    transition:  all 0.30s ease 0s;
}
.post-slide7:hover .post-img:after{
    transform:translateY(0);
}
.post-slide7 .post-img:before{
    content: "\f002";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    width: 100%;
    height: 100%;
    text-align:center;
    position:absolute;
    top:-50%;
    font-size:30px;
    color:#fff;
    transition: all 0.50s ease 0s;
    z-index: 1;
}
.post-slide7:hover .post-img:before{
    top:40%;
}
.post-slide7 .icons{
    position: absolute;
    bottom: -16px;
    left: 30px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    z-index:1;
}
.post-slide7 .icons img{
    width: 100%;
    height: auto;
}
.post-slide7 .post-review{
    border:1px solid #9c4a6c;
    border-top: none;
    padding: 35px 20px 25px;
    background: #fff;
    position:relative;
}
.post-slide7 .post-review:after{
    content: "";
    width: 90%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 5%;
    opacity: 0;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transform: translateY(0);
    transition: all 0.30s ease 0s;
}
.post-slide7:hover .post-review:after{
    opacity: 1;
    transform: translateY(5px);
}
.post-slide7 .post-bar{
    padding: 0;
    list-style: none;
}
.post-slide7 .post-bar li{
    display:inline-block;
    font-size:16px;
    font-family: serif,Arial;
    color:#555;
    margin-right:10px;
    text-transform: capitalize;
}
.post-slide7 .post-bar li i{
    color:#9c4a6c;
    margin-right:8px;
}
.post-slide7 .post-title{
    margin:0 0 20px 0;
    color:#555;
    font-weight:bold;
    font-size:18px;
}
.post-slide7 .post-description{
    font-size:15px;
    line-height:21px;
    color:#808080;
}
.post-slide7 .read{
    text-transform: capitalize;
    font-size:15px;
    color:#9c4a6c;
}
.post-slide7 .read i{
    margin-left:10px;
}
.post-slide7 .read:hover{
    text-decoration:none;
    color:#333;
}

/******************  News Slider Demo-8 *******************/
.post-slide8{
    margin: 0 15px;
    position:relative;
    background:#fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide8 .post-img{
    position: relative;
    overflow: hidden;
}
.post-slide8 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide8 .over-layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background: rgba(0,0,0,0.6);
    transition: all 0.30s ease;
}
.post-slide8:hover .over-layer{
    opacity:1;
}
.post-slide8 .post-link{
    margin:0;
    padding:0;
    position: relative;
    top:45%;
    text-align:center;
}
.post-slide8 .post-link li{
    display: inline-block;
    list-style: none;
    margin-right:20px;
}
.post-slide8 .post-link li a{
    color:#fff;
    font-size:20px;
}
.post-slide8 .post-link li a:hover{
    color: #ff8b3d;
    text-decoration:none;
}
.post-slide8 .post-date{
    position:absolute;
    top:10%;
    left:4%;
}
.post-slide8 .date{
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background:#333;
    float: left;
}
.post-slide8 .month{
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    background: #ff8b3d;
}
.post-slide8 .post-content{
    padding:30px;
}
.post-slide8 .post-title{
    margin:0 0 15px 0;
}
.post-slide8 .post-title a{
    font-size:18px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:capitalize;
    transition: all 0.3s ease 0s;
}
.post-slide8 .post-title a:hover{
    text-decoration: none;
    color:#ff8b3d;
}
.post-slide8 .post-description{
    font-size: 14px;
    line-height:24px;
    color:#808080;
}
.post-slide8 .read-more{
    color:#333;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    position: relative;
    transition: color 0.20s linear;
}
.post-slide8 .read-more:hover{
    text-decoration:none;
    color:#ff8b3d;
}
.post-slide8 .read-more:after{
    content:"";
    position: absolute;
    width:30%;
    display: block;
    border:1px solid #ff8b3d;
    transition: all 0.30s ease;
}
.post-slide8 .read-more:hover:after{
    width:100%;
}
@media only screen and (max-width: 479px) {
    .post-slide8 .month{
        font-size:14px;
    }
    .post-slide8 .date{
        font-size:14px;
    }
}

/******************  News Slider Demo-9 *******************/
.post-slide9{
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide9 .post-img{
    overflow: hidden;
    position: relative;
}
.post-slide9 .post-img img{
    width: 100%;
    height:auto;
    transform: scale(1,1);
    transition: all 0.30s ease 0s;
}
.post-slide9:hover .post-img img{
    transform: scale(1.2,1.2);
}
.post-slide9 .over-layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
    text-align:center;
    background:rgba(68, 67, 64,0.9);
    transition: all 0.50s linear;
}
.post-slide9:hover .over-layer{
    opacity:1;
}
.post-slide9 .post-link{
    padding:0;
    margin:0;
    list-style:none;
    position: relative;
    top:45%;
}
.post-slide9 .post-link li{
    display: inline-block;
    margin-right:10px;
}
.post-slide9 .post-link li a{
    width: 60px;
    height: 60px;
    line-height: 59px;
    border-radius: 50%;
    color:#fff;
    background:#333;
    font-size:20px;
    transform: scale(1,1);
    transition: all 0.20s linear;
}
.post-slide9 .post-link li a:hover{
    text-decoration:none;
    transform: scale(1.1,1.1);
}
.post-slide9 .post-review{
    padding: 15px 0;
    overflow: hidden;
}
.post-slide9 .post-title{
    margin-top: 0;
}
.post-slide9 .post-title a{
    display: block;
    color: #333;
    font-size: 18px;
    text-align:center;
    font-weight: bold;
    text-transform:uppercase;
    transition: all 0.50s ease 0s;
}
.post-slide9 .post-title a:hover{
    text-decoration: none;
    color:#1f80bb;
}
.post-slide9 .post-info{
    list-style:none;
    padding:10px 0 0 0;
    margin:0 0 7px 0;
    text-align:center;
    border-top:1px solid #d3d3d3;
}
.post-slide9 .post-info li{
    display: inline-block;
    margin-right: 13px;
}
.post-slide9 .tag-info{
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
    border-bottom:1px solid #d3d3d3;
}
.post-slide9 .tag-info li{
    list-style:none;
    display: inline-block;
}
.post-slide9 .tag-info li a{
    color:#808080;
    text-transform:capitalize;
}
.post-slide9 .tag-info li a:hover{
    color:#1f80bb;
    text-decoration:none;
}
.post-slide9 .post-description{
    color: #828282;
    font-size: 14px;
    padding:5px 25px;
    line-height: 25px;
}
.post-slide9 .read-more{
    color:#333;
    float: right;
    font-weight: bold;
    margin-right:25px;
    text-transform:capitalize;
}
.post-slide9 .read-more:hover{
    color:#1f80bb;
    text-decoration:none;
}
.owl-theme .owl-buttons div{
    position:relative;
    border-radius: 0;
    background:#807b87;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
}
.owl-theme .owl-buttons .owl-prev{
    position: absolute;
    left: 0;
    top: 50%;
    opacity:0;
    transition: all 0.50s linear;
}
.owl-carousel:hover .owl-buttons .owl-prev{
    opacity: 1;
    left:-30px;
}
.owl-theme .owl-buttons .owl-next{
    position: absolute;
    right: 0;
    top: 50%;
    opacity:0;
    transition: all 0.50s linear;
}
.owl-carousel:hover .owl-buttons .owl-next{
    opacity: 1;
    right:-30px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
@media only screen and (max-width: 990px) {
    .post-slide9 .post-info li { margin-right: 5px; }
    .owl-theme .owl-buttons div{ display:none; }
}
@media only screen and (max-width: 767px) {
    .post-slide9 .post-link li a{
        width: 40px;
        height: 40px;
        line-height: 39px;
        font-size:13px;
    }
    .post-slide9 .post-title a{
        font-size:14px;
    }
}

/******************  News Slider Demo-10 *******************/
.post-slide10{
    padding-bottom: 10px;
    margin: 0 15px;
    position:relative;
    background:#fff !important;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide10 img{
    width: 100%;
    height: auto;
}
.post-slide10 .post-date{
    position:absolute;
    top:2%;
    left:8%;
    padding: 3% 5%;
    background: #e74c3c;
}
.post-slide10 .month{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    text-transform:uppercase;
}
.post-slide10 .month:after{
    content:"";
    display: block;
    border:1px solid #fff;
}
.post-slide10 .date{
    font-size: 14px;
    color:#fff;
    display: block;
    text-align:center;
    font-weight: bold;
}
.post-slide10 .post-title{
    margin:25px 0 15px 0;
}
.post-slide10 .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    padding:0px 15px;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide10 .post-title a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-slide10 .post-description{
    font-size: 14px;
    line-height:24px;
    color:#808080;
    padding:0px 15px;
}
.post-slide10 .read-more{
    color:#333;
    padding:0px 15px;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide10 .read-more i{
    margin-left:10px;
    font-size:10px;
}
.post-slide10 .read-more:hover{
    text-decoration:none;
    color:#e74c3c;
}
.owl-controls .owl-buttons{
    margin-top:20px;
    position:relative;
}
.owl-controls .owl-prev{
    position: absolute;
    left: -40px;
    bottom: 230px;
    padding: 8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-next{
    position: absolute;
    right: -40px;
    bottom: 230px;
    padding:8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #d3d3d3;
    font-size:16px;
}
.owl-controls .owl-next:after{
    content:"\f105";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover{
    background: #e74c3c;
}
@media only screen and (max-width: 990px) {
    .post-slide10{
        margin: 0 20px;
    }
    .owl-controls .owl-buttons .owl-prev{
        left:-20px;
        padding:5px 14px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:-20px;
        padding:5px 14px;
    }
}
@media only screen and (max-width: 767px){
    .owl-controls .owl-buttons .owl-prev{
        left:0px;
        bottom: 260px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:0px;
        bottom: 260px;
    }
}

/******************  News Slider Demo-11 *******************/
.post-slide11{
    background: #fff;
    margin: 0 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide11 .post-img{
    position:relative;
}
.post-slide11 .over-layer{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0;
    cursor: pointer;
    transition: all 0.30s ease 0s;
}
.post-slide11:hover .over-layer{
    opacity:1;
}
.post-slide11 .over-layer:after{
    content: "+";
    font-size: 52px;
    color: #fff;
    position: absolute;
    top: 31%;
    left:42%;
}
.post-slide11 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide11 .post-title{
    margin:25px 0 15px 0;
    padding:0 15px;
}
.post-slide11 .post-title:before{
    content:"";
    border:2px solid #e67e22;
    width:18%;
    display: block;
    margin-bottom:15px;
}
.post-slide11 .post-title a{
    font-size: 20px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:capitalize;
    transition: all 0.3s ease 0s;
}
.post-slide11 .post-title a:hover{
    text-decoration: none;
    color:#e67e22;
}
.post-slide11 .post-date{
    text-transform:capitalize;
    padding:0 15px;
    color:#E67E22;
    font-size:13px;
}
.post-slide11 .post-date:before{
    margin-right: 7px;
    color:#e67e22;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #e67e22;
}

/******************  News Slider Demo-12 *******************/
.post-slide12{
    background: #fff;
    margin: 0 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide12 .post-img{
    position:relative;
    float: left;
    width:50%;
    height: auto;
}
.post-slide12 .over-layer{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0;
    cursor: pointer;
    transition: opacity 0.30s ease 0s;
}
.post-slide12 .over-layer:after{
    color: #fff;
    content: "+";
    font-size: 52px;
    position: absolute;
    top: 31%;
    left:42%;
}
.post-slide12 .post-img:hover .over-layer{
    opacity:1;
}
.post-slide12 .post-img img{
    width:100%;
    height: auto;
}
.post-slide12 .post-review{
    float: left;
    padding: 1px 20px;
    width: 50%;
}
.post-slide12 .post-title{
    margin:0 0 5px 0;
}
.post-slide12 .post-title a{
    color: #3498db;
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
    transition:color 0.30s ease;
}
.post-title > a:hover{
    text-decoration: none;
    color:#333;
}
.post-slide12 .post-date{
    display:block;
    font-size:15px;
    font-weight:700;
    margin-bottom:17px;
}
.post-description{
    color: #333;
    font-size: 15px;
    font-weight:400;
    text-align:left;
}
.owl-pagination{
    margin-top: 40px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #3498db;
}
@media only screen and (max-width: 990px){
    .post-slide12 .over-layer:after{
        top:39%;
        left: 45%;
    }
}
@media only screen and (max-width: 640px){
    .post-slide12 .post-img{
        width:100%;
    }
    .post-slide12 .post-review{
        width:100%;
        padding:10px;
    }
}

/******************  News Slider Demo-13 *******************/
.post-slide13{
    padding: 0 15px;
}
.post-slide13 .post-img{
    position: relative;
}
.post-slide13 .post-img > a{
    display:block;
}
.post-slide13 .post-img img{
    width: 100%;
    height:auto;
}
.post-slide13 .post-img:hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(220, 0, 90, 0.6);
}
.post-slide13 .post-img:after{
    content: "\f065";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    position: absolute;
    top:17px;
    right:20px;
    color:#fff;
    opacity: 0;
    transform: scale(0.8);
    transition:all 0.3s linear 0s;
}
.post-slide13 .post-img:hover:after{
    opacity: 1;
    transform: scale(1);
}
.post-slide13 .post-title{
    margin-top: 20px;
}
.post-slide13 .post-title > a{
    color:#222;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-slide13 .post-title > a:hover{
    text-decoration: none;
    color:#dc005a;
}
.post-slide13 .post-bar{
    padding: 0;
    list-style: none;
}
.post-slide13 .post-bar > li{
    display: inline-block;
}
.post-slide13 .post-date,
.post-slide13 .author,
.post-slide13 .author > a{
    color:#8f8f8f;
    font-size: 12px;
    margin-right: 16px;
    text-transform: uppercase;
    font-style: italic;
}
.post-slide13 .post-date > i,
.post-slide13 .author > i{
    margin-right: 5px;
}
.post-slide13 .author > a:hover{
    color:#dc005a;
}
.post-slide13 .post-description{
    color:#8f8f8f;
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
}
.post-slide13 .post-description:before{
    content: "";
    display: block;
    border-top: 4px solid #dc005a;
    padding-bottom: 12px;
    width: 50px;
}
.owl-theme .owl-controls .owl-page span{
    width: 52px;
    height:5px;
    border-radius: 0;
    opacity: 0.5;
    margin-bottom: 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #dc005a;
    opacity: 1;
}

/******************  News Slider Demo-14 *******************/
.products{background: #fff}
.post-slide14{
    border-width: 1px 1px 5px;
    border-style: solid;
    border-color: #f66b6b #f66b6b #f0f0f0;
    border-radius: 5px;
    margin: 0 10px;
}
.post-slide14 .post-category{
    border-bottom:1px solid whitesmoke;
    margin:0;
    text-align:center;
    padding:10px;
    font-size:15px;
    letter-spacing:2px;
    text-transform:capitalize;
}
.post-slide14 .post-category > a{
    text-transform: uppercase;
    color:#e67e22;
    transition: all 0.2s ease 0s;
}
.post-slide14 .post-category > a:hover{
    color: #373a3f;
}
.post-slide14 .post-review{
    overflow: hidden;
    padding:10px;
}
.post-slide14 .post-bar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e67e22;
    float: left;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
}
.post-slide14 .post-bar > .month{
    display: block;
    color:#fff;
    font-size:10px;
    text-transform: capitalize;
}
.post-slide14 .post-bar > .date{
    color: #fff;
    display: block;
    font-size: 28px;
    font-weight: bold;
    line-height: 12px;
}
.post-slide14 .post-title{
    line-height: 20px;
    margin: 10px 0 0 0;
}
.post-slide14 .post-title > a{
    font-size:17px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:10px;
    color:#333;
    transition: all 0.2s ease 0s;
}
.post-slide14 .post-title > a:hover{
    color:#e67e22;
}
.post-slide14 .post-img{
    filter: grayscale(0);
    transition:all 0.3s ease 0s;
}
.post-slide14 .post-img > img{
    width: 100%;
    height: auto;
}
.post-slide14:hover .post-img{
    filter: grayscale(1);
}
.post-slide14 .post-description{
    color: #555;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 35px;
}



/*product*/
/*********************** Demo - 14 *******************/
.box14{position:relative}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;height:auto}
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:1px solid rgba(255,255,255,.5);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:1px solid rgba(255,255,255,.5);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s;text-align: center}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{font-size:14px;color:#fff;padding:10px;background:#ec3c6a;opacity:0;border-radius:0 19px !important;transform:translate3d(0,-50px,0);transition:all .7s ease 0s}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#ec3c6a;border-color:#ec3c6a}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}

.pro-p{font-size:15px !important;padding:10px}

.img01 {

    position: absolute;
    z-index: 8;
    left: 0;
    width: 100%;
    height: auto;

}


.btn-primary{
    border-radius:0px 20px 0px 20px !important;
}


.products,.project{clear: both}


.scrolled{background: #05201b !important}
.mt10{margin-top:10%}






/******************* Timeline Demo - 5 *****************/
.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;margin-top:-79px}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#f44556;border-right-color:#f44556;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year{display:block;width:110px;height:110px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:30px;font-weight:700;color:#f44556;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content{width:35%;float:right;background:#f44556;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:#f44556;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:#e97e2e;border-right-color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:#e97e2e}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:#13afae;border-right-color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .year{color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:#13afae}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:#105572;border-right-color:#105572}
.main-timeline5 .timeline:nth-child(4n) .year{color:#105572}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:#105572}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
    .main-timeline5 .timeline-content:before{left:-18%}
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-127px}
    .main-timeline5 .timeline-content:before{left:-2%}
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
    .main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
    .main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
    .main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
    .main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
    .main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}


/*about*/



.about .aboutus-section {
    padding: 90px 0;
}
.about .aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.about .aboutus-title::after {
    background: #19a372 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 54px;
}
.about .aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.about a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.about .aboutus-more {
    border: 1px solid #19a372;
    border-radius: 0px 20px 0px 20px !important;
    color: #fff;
    background: #19a372;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.about .aboutus-more:hover{
color: #19a372;
border-color: #19a372;
background: transparent;
transition: all 0.3s ease;
box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.about .feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.about .feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.about .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.about img{width: 100%}

.about .feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.about .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.about .feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.about .icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
/**/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);


.about .ion-minus{
    padding:0px 10px;
}

.about .team img{border-radius: 10px 0px}
.about .team img:hover{border-radius: 0px 10px;transition: all 0.3s ease;
    box-shadow: 20px 20px 20px 10px rgba(46,61,73,0.15);}
.about .team{
	padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

.about .team h4 {
    margin-top: 20px;
    color: #f66b6b;
}

.about .team .fa{
    color: #19a372;
    font-size: 18px;
    margin-top: 10px;
    padding: 3px;
}
.about .team .fa:hover{color:#f66b6b;transition: all 0.3s ease; }

/*about*/
/*contact*/

.contact .text-center{color: #19a372}
.contact a:hover {text-decoration: none;color: #f66b6b;}
.contact a {text-decoration: none;color: #000;}
.contact .information img{width: 25%}
.contact #contact iframe{width: 100%;height: 300px;border-radius:10px; }
.contact .left{border-right: 1px solid #19a372 }
.contact7 {
    margin-bottom: 20px;
    width: 100%;
    padding: 0% 15%;
}

.contact7 h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 40px;
	text-transform: capitalize;
}

.contact7 h3 {
	font-size: 20px;
	text-transform: lowercase;
	font-style: italic;
}

.contact7 .contact7-form {
	margin-top: 50px;
	margin-bottom: 100px;
	overflow: hidden;
	border: 5px solid #19a372;
	border-radius: 10%;
	padding: 30px 30px 30px 30px;
}

.contact7 .contact7-form form {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.contact7 .contact7-form .message{height: 100px;}
.contact7 .contact7-form .form-control {
	background: transparent;
    border: 1px solid #c7c7c7;}

.contact7 .contact7-form .btn-default {
	background-color: #19a372;
	color: #fff;
    border-radius: 20px 0;}
.contact7 .contact7-form .btn-default:hover{
color: #19a372;
border-color: #19a372;
background: transparent;
transition: all 0.3s ease;
box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.contact7 .contact7-bottom {
	background-color: #f5f5f5;
}

.contact7 .contact7-bottom h2 {
	margin-top: 20px;
	margin-bottom: 50px;
}

.contact7 .contact7-bottom p {
	font-size: 17px;
}

.contact7 .contact7-bottom a {
	text-decoration: none;
}

.contact7 .contact7-bottom i {
	margin-right: 5px;
}

@media only screen and (max-width: 420px){
	.contact7 .contact7-form {
		border: 5px solid #548ce9;
		border-radius: 0%;
		padding: 10px 10px 10px 10px;
	}
}

/*contact*/
/*project-2*/

.project-2 .left{float: left; background: #d0e7de; padding-left: 3%}
.project-2 .right{float: right;padding: 0%}
.project-2 .row{width: 100%; margin: 0%}
.project-2 .Solution h1{color: #19a372}
@media (max-width:768px) {
    .btn:not(:disabled):not(.disabled){margin-bottom: 5%}
}
/*project-2*/

/*solution_details*/

.solution_details .panel-group {
    padding-top: 50px;
}
.solution_details .panel-default {
    border-radius: 0;
    border: none;
    background: none;
    margin-bottom: 0;
    padding-bottom: 14px;
}
.solution_details .panel-default > .panel-heading {
    border: none;
    background: none;
    padding: 0;
}
.solution_details .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    padding: 0 0 0 32px;
}
.solution_details .panel-default h5 {
    font: 300 19px "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0 0 5px;
}
.solution_details .panel-group .panel+.panel {
    margin-top: 15px;
}
.solution_details .panel-default .accordion-toggle:before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background: #f66b6b url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.solution_details .panel-default .collapsed:before {
    background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.solution_details .panel-default .panel-title:hover .collapsed:before {
    background-color: #f66b6b;
}
.solution_details .panel-default .accordion-toggle,
.solution_details .panel-default .accordion-toggle:focus,
.solution_details .panel-default .accordion-toggle:hover,
.solution_details .panel-default .accordion-toggle:active {
    color: #19a372;
    text-decoration: none;
}
.solution_details .panel-default .collapsed {
    color: #5f6f7e;
}
.solution_details .w100{width:100%}

/*solution_details*/
