    /*
    Flaticon icon font: Flaticon
    Creation date: 22/11/2018 14:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-youtube-logo:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-employee:before { content: "\f102"; }
.flaticon-linkedin-logo:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
.flaticon-telegram:before { content: "\f106"; }
.flaticon-instagram:before { content: "\f107"; }
.flaticon-musica-searcher:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }
    
    $font-Flaticon-youtube-logo: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-employee: "\f102";
    $font-Flaticon-linkedin-logo: "\f103";
    $font-Flaticon-facebook-logo: "\f104";
    $font-Flaticon-twitter-logo-silhouette: "\f105";
    $font-Flaticon-telegram: "\f106";
    $font-Flaticon-instagram: "\f107";
    $font-Flaticon-musica-searcher: "\f108";
    $font-Flaticon-share: "\f109";