	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/11/2018 14:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-youtube-logo:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-employee:before { content: "\f102"; }
.flaticon-linkedin-logo:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
.flaticon-telegram:before { content: "\f106"; }
.flaticon-instagram:before { content: "\f107"; }
.flaticon-musica-searcher:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }