    /*
    Flaticon icon font: Flaticon
    Creation date: 24/11/2018 14:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-telegram:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-linkedin:before { content: "\f104"; }
.flaticon-share:before { content: "\f105"; }
.flaticon-meeting:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
    
    $font-Flaticon-telegram: "\f100";
    $font-Flaticon-twitter: "\f101";
    $font-Flaticon-facebook: "\f102";
    $font-Flaticon-instagram: "\f103";
    $font-Flaticon-linkedin: "\f104";
    $font-Flaticon-share: "\f105";
    $font-Flaticon-meeting: "\f106";
    $font-Flaticon-like: "\f107";