	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/11/2018 14:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-share:before { content: "\f100"; }
.flaticon-telegram:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-linkedin:before { content: "\f103"; }
.flaticon-facebook-letter-logo:before { content: "\f104"; }
.flaticon-twitter-logo:before { content: "\f105"; }
.flaticon-musica-searcher:before { content: "\f106"; }